@page "/produtos"
@inject IProdutoService produtoService

@if (Produtos == null)
{
    <Spinner/>
}
else
{
    <h3 class="mb-5">Produtos</h3>
    @if (Produtos.Count() > 0)
    {
        @foreach (var prodGroup in Produtos)
        {
            <h4>@prodGroup.FirstOrDefault(x => x.CategoriaId == prodGroup.Key).CategoriaNome</h4>
            <div class="row mt-3">
                <ExibirProdutos Produtos="@prodGroup"></ExibirProdutos>
            </div>
        }
    }
}

@code {

    public List<IGrouping<int, ProdutoDTO>>? Produtos { get; set; }

    [Inject]
    public ICarrinhoCompraService? CarrinhoCompraService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var response = await produtoService.GetItens();
        Produtos = response.GroupBy(x => x.CategoriaId).OrderBy(x => x.Key).ToList();

        var carrinhoCompraItens = await CarrinhoCompraService.GetItens(UsuarioLogado.UsuarioId);
        var totalQuantidade = carrinhoCompraItens.Sum(x => x.Quantidade);

        CarrinhoCompraService.RaiseEventOnCarrinhoCompraChanged(totalQuantidade);
    }

}
